html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrollbars */
}

#map {
    width: 100%;
    height: 100vh;
    position: relative; /* Ensures that map fills the screen */
}

#search-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    width: 30%;
    max-width: 90%;
}

#search-input {
    box-sizing: border-box;
    width: 100%; 
    max-width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#search-button {
    padding: 8px 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#header-container {
    display: flex;             
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 2px;   
    position: relative;   
}

#header-container h1 {
    color: darkgreen;
    margin: 0;  
    padding: 0;  
    flex-grow: 1;   
    padding-bottom: 0;   
}

#toggle-button {
    background-color: black; 
    border: 1px solid #000000;
    border-radius: 3px;
    color: white; 
    font-weight: bold; 
    margin-left: 10px; 
    position: absolute; 
    top: 0;  
    right: 0; 
}

#user-controls {
    display: none; /* Initially hidden */
}

#login-section {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#buttons {
    display: flex;
    justify-content: space-between;  
    align-items: center;
}

#current-user{
    margin-top: 5px;
}

/* Modal (popup) styles */
.modal, .info-modal {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
}

/* Content styling */
.modal-content, .info-modal-content {
    background-color: #fefefe;
    padding: 20px; 
    border: 1px solid #888; 
    width: 30%; 
    max-width: 90%;
    max-height: 80vh; 
    overflow-y: auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 8px; 
    box-sizing: border-box; 
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.info-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.info-close:hover,
.info-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#displays {
    font-weight: bold; 
    font-size: 16px; 
    padding: 10px; 
    width: 200px; 
    border-radius: 5px; 
    border: 2px solid #ccc; 
    background-color: #f9f9f9; 
    box-sizing: border-box; 
}

#displays option {
    font-weight: bold; 
    font-size: 16px; 
}

.row {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
}

#toggle-text, #terrain-text {
    margin: 0;
    font-size: 20px;
    text-align: right; 
    flex-grow: 1; 
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-color: #28a745;
}

input:focus + .slider {
    box-shadow: 0 0 1px #28a745;
}

input:checked + .slider:before {
    -webkit-transform: translateX(46px);
    -ms-transform: translateX(46px);
    transform: translateX(46px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#login-form {
    display: flex;
    flex-direction: column;
}

#login-form input {
    margin-bottom: 10px;
    padding: 5px;
}

#controls-container {
    position: absolute; 
    bottom: 10px; 
    left: 10px; 
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    overflow-y: auto;
    max-height: 80vh;
    max-width: 35vh;
    text-align: left; 
}

#map-key {
    position: absolute; 
    bottom: 10px; 
    right: 10px; 
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    overflow-y: auto;
    max-height: 80vh;
    max-width: 35vh;
    text-align: left; 
}

#map-key h1 {
    color: darkgreen;
    margin: 0;  
    padding: 0;  
    flex-grow: 1;   
    padding-bottom: 0;   
}

@media (max-width: 600px) {

    #search-container {
        width: 60%;
    }

    #controls-container, #map-key {
        max-width: 90vw; 
        max-height: 40vh; 
        overflow-y: auto; 
        padding: 8px; 
        font-size: 14px; 
    }

    #controls-container, #map-key * {
        font-size: 0.9em; 
    }

    #controls-container, #map-key h1 {
        font-size: 1.3em; 
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
    }

    #controls-container label,
    #controls-container select,
    #controls-container button,
    #controls-container input,
    #controls-container textarea {
        font-size: 0.9em; 
    }

    /* Buttons specifically */
    #login-section button,
    #user-controls button {
        font-size: 0.85em;
        padding: 5px 8px; 
        margin: 3px 0; 
    }

    /* Textarea adjustments for mobile */
    #controls-container, #map-key textarea {
        width: 90%; 
    }

    .modal-content, .info-modal-content {
        width: 90%; 
    }
}

#route-message {
    box-sizing: border-box;
    width: 100%;  
    max-width: 100%;  
    min-height: 30px;  
    resize: none; 
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;  
}

#text-container {
    margin: 0;
    padding-bottom: 20px;
}

#h4 {
    margin: 0; 
    padding-top: 0;
    font-size: 25px;
}

#h5 {
    margin: 0; 
    padding: 0;
}

.desc {
    margin: 0; 
    padding-bottom: 5px;
}

.head{
    margin: 0; 
    padding: 0;
    font-size:large;
    font-weight: bolder;
}

.subhead{
    margin: 0; 
    padding-top: 3px;
    padding-bottom: 6px;
    font-size: small;
    font-weight: bolder;
    text-align: center;
}

.sub{
    margin: 0; 
    padding: 0;
    text-align: center;
    font-size: x-small;
}

#route-color {
    margin-right: 10px;
}

#login-btn, #login-info, #options {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 12px; 
    margin-bottom: 5px;
    width: 100%; 
    box-sizing: border-box; 
}

#confirm-route, #logout-btn, #edit-info, #login-options {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom:0;
    padding: 8px 12px;
}

#confirm-route:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.leaflet-routing-container {
    display: none !important;
}

.user-location-icon {
    z-index: 1000; /* Ensure it's on top */
}