html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrollbars */
}

#map {
    width: 100%;
    height: 100vh;
    position: relative; /* Ensures that map fills the screen */
}

#search-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    max-width: 90%;
}

#search-input {
    box-sizing: border-box;
    width: 100%; /* Full width of the container */
    max-width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#search-button {
    padding: 8px 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#header-container {
    display: flex;             
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 2px;   
    position: relative;   
}

#header-container h1 {
    color: darkgreen;
    margin: 0;  
    padding: 0;  
    flex-grow: 1;   
    padding-bottom: 0;   
}

#toggle-button {
    background-color: black; 
    border: 1px solid #000000;
    border-radius: 3px;
    color: white; 
    font-weight: bold; 
    margin-left: 10px; 
    position: absolute; 
    top: 0;  
    right: 0; 
}

#user-controls {
    display: none; /* Initially hidden */
}

#login-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    text-align: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#buttons {
    display: flex;
    justify-content: space-between;  /* Spreads the buttons apart */
    align-items: center;
}

#current-user{
    margin-top: 5px;
}

/* Modal (popup) styles */
.modal, .info-modal {
    display: flex; /* Enable flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000; /* Ensure it overlays other content */
}

/* Content styling */
.modal-content, .info-modal-content {
    background-color: #fefefe; /* White background */
    padding: 20px; /* Inner padding */
    border: 1px solid #888; /* Border */
    width: 30%; /* Width of content box */
    max-width: 90%; /* Ensure it fits smaller screens */
    max-height: 80vh; /* Prevent overflow vertically */
    overflow-y: auto; /* Enable scrolling if content exceeds max height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for emphasis */
    border-radius: 8px; /* Rounded corners */
    box-sizing: border-box; /* Include padding and border in width/height */
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.info-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.info-close:hover,
.info-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#displays {
    font-weight: bold; /* Makes the font inside the select box bold */
    font-size: 16px; /* Increases the font size */
    padding: 10px; /* Adds padding inside the select box */
    width: 200px; /* Makes the select box wider */
    border-radius: 5px; /* Optional: Adds rounded corners */
    border: 2px solid #ccc; /* Optional: Adds border color */
    background-color: #f9f9f9; /* Optional: Background color */
    box-sizing: border-box; /* Ensures padding is included in the width */
}

#displays option {
    font-weight: bold; /* Makes the font inside the options bold */
    font-size: 16px; /* Increases the font size inside the options */
}

.row {
    display: flex;
    justify-content: space-between; /* Ensure space between the switch and the text */
    align-items: center; /* Align elements vertically */
    width: 100%; /* Ensure it takes up full width of the container */
}

#toggle-text, #terrain-text {
    margin: 0;
    font-size: 20px;
    text-align: right; /* Align the text to the right */
    flex-grow: 1; /* Allow it to take the available space */
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-color: #28a745;
}

input:focus + .slider {
    box-shadow: 0 0 1px #28a745;
}

input:checked + .slider:before {
    -webkit-transform: translateX(46px);
    -ms-transform: translateX(46px);
    transform: translateX(46px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#login-form {
    display: flex;
    flex-direction: column;
}

#login-form input {
    margin-bottom: 10px;
    padding: 5px;
}

#controls-container {
    position: absolute; 
    bottom: 10px; 
    left: 10px; 
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    overflow-y: auto;
    max-height: 80vh;
    max-width: 35vh;
    text-align: left; 
}

@media (max-width: 600px) {
    #controls-container {
        max-width: 90vw; /* Adjust width for smaller screens */
        max-height: 40vh; /* Allow more vertical space */
        overflow-y: auto; /* Enable scrolling */
        padding: 8px; /* Slightly reduced padding */
        font-size: 14px; /* Smaller font size for container */
    }

    #controls-container * {
        font-size: 0.9em; /* Scale down font size for all elements */
    }

    #controls-container h1 {
        font-size: 1.3em; /* Slightly smaller title */
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
    }

    #controls-container label,
    #controls-container select,
    #controls-container button,
    #controls-container input,
    #controls-container textarea {
        font-size: 0.9em; /* Smaller font for all form elements */
    }

    /* Buttons specifically */
    #login-section button,
    #user-controls button {
        font-size: 0.85em;
        padding: 5px 8px; /* Smaller padding for buttons */
        margin: 3px 0; /* Reduce margin between buttons */
    }

    /* Textarea adjustments for mobile */
    #controls-container textarea {
        width: 90%; /* Adjust to fit container */
    }
}

#route-message {
    box-sizing: border-box;
    width: 100%;  /* Full width of the container */
    max-width: 100%;  /* Prevent it from growing beyond the container */
    min-height: 30px;  /* Minimum height for the textarea */
    resize: none;  /* Disable manual resizing */
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;  /* Include padding and border in the element's total width and height */
}

#text-container {
    margin: 0;
    padding-bottom: 20px;
}

#h4 {
    margin: 0; 
    padding-top: 0;
    font-size: 25px;
}

#h5 {
    margin: 0; 
    padding: 0;
}

.desc {
    margin: 0; 
    padding-bottom: 5px;
}

.head{
    margin: 0; 
    padding: 0;
    font-size:large;
    font-weight: bolder;
}

.subhead{
    margin: 0; 
    padding-top: 3px;
    padding-bottom: 6px;
    font-size: small;
    font-weight: bolder;
    text-align: center;
}

.sub{
    margin: 0; 
    padding: 0;
    text-align: center;
    font-size: x-small;
}

#route-color {
    margin-right: 10px;
}

#login-btn, #login-info, #options {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 12px; 
    margin-bottom: 5px;
    width: 100%; /* Make buttons take full width */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

#confirm-route, #logout-btn, #edit-info, #login-options {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom:0;
    padding: 8px 12px;
}

#confirm-route:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.leaflet-routing-container {
    display: none !important;
}